<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label "タイトル" %>
    <%= f.text_field :title, placeholder: "タイトル" %>

    <%= f.label "開始日時" %>
    <div class='input-group date datetimepicker'>
      <%= f.text_field :start, class: 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>

    <%= f.label "終了日時" %>
    <div class='input-group date datetimepicker'>
      <%= f.text_field :end, class: 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>

      <% current_user.groups.each do |group| %>
        <%= f.collection_check_boxes :users, group.users, :id, :name %>
      <% end %>
    <!--<%= f.collection_check_boxes :users, User.all, :id, :name %>-->
  </div>
  <%= f.submit yield(:button_text), class: 'btn btn-primary task-button' %>
<% end %>
<!-- 更新の場合は削除ボタンを表示する -->
<% if yield(:button_text) == '更新' %>
  <%= link_to "削除", @task, method: :delete, 
                class: 'btn btn-danger task-delete-button',
                data: { confirm: "本当に削除しますか？" } %>
<% end %>